
#grid {
    font-size: 0.8rem !important; /* This will apply the font size to all text inside the grid */
}

    /* If you need to target the header as well */
    #grid .k-grid-header {
        font-size: 0.8rem !important;
    }

    /* Target Kendo Grid cells */
    #grid .k-grid-content td {
        font-size: 0.8rem !important;
    }

    /* For any other specific grid component you want to resize */
    #grid .k-grid-footer {
        font-size: 0.8rem !important;
    }
.k-button.customGreen1 {
    border: 1px solid gray !important;
    border-radius: 3px !important;
    color: black !important;
    background-color: #d0f7c9 !important;
  
    padding: 6px 12px !important;
    text-align: center !important;
}



.customBlue1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #9ce5f2 !important;
}

.customYellow1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #e8efa7;
}

.k-button.customRed1 {
    border: 1px solid gray !important;
    border-radius: 3px !important;
    color: black !important;
    background-color: #f59f9f !important;
}

.custominput {
    border: 1px solid gray;
    border-radius: 1px;
    height: 35px;
    margin-bottom: 15px;
}
.bootstrap-select.btn-group .btn .filter-option {
    text-align: left;
}