@model Timesheet.Models.ViewModels.Admin.PositionViewModel
@using Timesheet.Models.Entities

@{
    ViewData["Title"] = "Add Position";
    var UsersList = ViewBag.user;
}

<style>
    body {
        direction: rtl !important;
        text-align: right !important;
    }

    .form-group label {
        text-align: right;
    }

    .btn {
        float: right;
    }
</style>

<div class="panel panel-body container-fluid" style="border-radius: 2px; box-shadow: 3px 1px 1px 0 gray; background-color: #e6e2e2;">
    <form asp-controller="Position" asp-action="AddPosition" method="post">
        <div class="col-md-8 col-md-offset-3">
            <!-- UserId (Dropdown for selecting user) -->
            <div class="form-group">
                <label asp-for="UserId" class="control-label col-md-3 col-xs-12"></label>
                <select asp-for="UserId" class="form-control" id="userIdSelect">
                    <option value="">-- انتخاب یوزر --</option>
                    @foreach (var user in ViewBag.user)
                    {
                        <option value="@user.Id" data-username="@user.UserName">@user.UserName</option>
                    }
                   
                </select>
            </div>

            <!-- UserName (Read-only field that auto-fills based on UserId) -->
            <div class="form-group">
                <label asp-for="UserName" class="control-label col-md-3 col-xs-12"></label>
                <div >
                    <input asp-for="UserName" type="text" class="form-control custominput" id="userNameInput" placeholder="یوزرنیم" readonly />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <!-- PositionType -->
            <div class="form-group">
                <label asp-for="PositionType" class="control-label col-md-3 col-xs-12"></label>
                <div >
                    <select asp-for="PositionType" class="form-control custominput" id="positionTypeDropdown">
                        <option value="">-- انتخاب نوع سمت --</option>
                        <option value="مدیر بخش" data-code="1">مدیر بخش</option>
                        <option value="مدیر پروژه" data-code="3">مدیر پروژه</option>
                        <option value="معاونت نفت و گاز" data-code="4">معاونت نفت و گاز</option>
                        <option value="معاونت آب و انرژی" data-code="4">معاونت آب و انرژی</option>
                        <option value="معاونت پشتیبانی" data-code="4">معاونت پشتیبانی</option>
                        <option value="مدیر عامل" data-code="5">مدیر عامل</option>
                        <option value="معاونت مهندسی" data-code="2">معاونت مهندسی</option>
                        <option value="معاونت توسعه کسب و کار" data-code="4">معاونت توسعه کسب و کار</option>
                        <option value="امور حقوقی و قراردادها" data-code="2">امور حقوقی و قراردادها</option>
                        <option value="کنترل پروژه" data-code="2">کنترل پروژه</option>
                        <!-- Add more options as needed -->
                    </select>
                    <span asp-validation-for="PositionType" class="text-danger"></span>
                </div>
            </div>

            <!-- PostionName -->
            <div class="form-group">
                <label asp-for="PositionName" class="control-label col-md-3 col-xs-12"></label>
                <div >
                    <input asp-for="PositionName" type="text" class="form-control custominput" placeholder="نام سمت" />
                    <span asp-validation-for="PositionName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PositionCode" class="control-label col-md-3 col-xs-12"></label>
                <div>
                    <input asp-for="PositionCode" type="number" class="form-control custominput" placeholder="کد سمت" id="positionCodeField" readonly  />
                    <span asp-validation-for="PositionCode" class="text-danger"></span>
                </div>
            </div>
            <!-- Filtering -->
            <div class="form-group">
                <label asp-for="Filtering" class="control-label col-md-3 col-xs-12"></label>
                <div>
                    <input asp-for="Filtering" type="text" class="form-control custominput ltr" placeholder="فرمول فیلتر" />
                    <span asp-validation-for="Filtering" class="text-danger"></span>
                </div>
            </div>
            <!-- Grouping -->
            <div class="form-group">
                <label asp-for="Grouping" class="control-label col-md-3 col-xs-12"></label>
                <div>
                    <input asp-for="Grouping" type="text" class="form-control custominput ltr" placeholder="فرمول گروه" />
                    <span asp-validation-for="Grouping" class="text-danger"></span>
                </div>
            </div>

            <!-- Signed -->
            <div class="form-group">
                <label asp-for="Signed" class="control-label col-md-3 col-xs-12"></label>
                <div>
                    <select asp-for="Signed" class="form-control custominput">
                        <option value="true" >بله</option>
                        <option value="false" selected >خیر</option>


                        <!-- Add more options as needed -->
                    </select>
                    <span asp-validation-for="Signed" class="text-danger"></span>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">ارسال</button>
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
      
    <script>
        $(document).ready(function () {
            $('#userIdSelect').change(function () {
                var selectedOption = $(this).find('option:selected');
                console.log(selectedOption.data());
                var userName = selectedOption.data('username');
             
                $('#userNameInput').val(userName);
            });

            $('#positionTypeDropdown').change(function () {
                var selectedOption = $(this).find('option:selected');
                var positionCode = selectedOption.data('code');
                $('#positionCodeField').val(positionCode || '');
            });
        });
    </script>
}
   

