@model IEnumerable<Timesheet.Models.Entities.Admin.Position>
@{
    ViewData["Title"] = "Index";
}

<div class="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">سمت ها</li>
        </ol>
    </nav>
    <div class="panel panel-heading" style="background-color: lightgray ;box-shadow:3px 1px 1px 0 grey; border-radius:2px; margin-bottom: 5px">
        <span style="font-weight:bold;">
          
            لیست سمت ها
        </span>
    </div>
    <div style="margin-bottom:5px;">
        <a class="btn customGreen1" asp-controller="Position" asp-action="AddPosition">
        
           اضافه کردن سمت
        </a>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="deleteModalContent">
                <!-- The partial view will be loaded here -->
            </div>
        </div>
    </div>
    <div>
        <div class="k-rtl">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var myobj = '@Html.Raw(Json.Serialize(Model))';

                var jsondata = JSON.parse(myobj);
                $("#grid").kendoGrid({
                    dataSource: {
                        data: jsondata,
                        pageSize: jsondata.length
                    },
                    height: 550,
                    filterable: true,
                    groupable: true,
                    sortable: true,
                    toolbar: ["pdf", "search", "excel"],
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [
                        { field: "id", width: 150, title: "ID" },
                        { field: "userName", width: 150, title: "User Name" },
                        { field: "positionType", width: 150, title: "Position Type" },
                        { field: "positionName", width: 200, title: "Position Name" },
                        { field: "formula", width: 150, title: "Formula" },
                        {
                            command: [
                                {
                                    name: "del",
                                    text: "Delete",
                                    click: function (e) {
                                    e.preventDefault();
                                    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                                    // Load the partial view into the modal
                                    $.get('Position/DeletePosition', { id: dataItem.id }, function (response) {
                                        $('#deleteModalContent').html(response);
                                        $('#deleteModal').modal('show');
                                    });
                                    }
                                },
                                {
                                    name: "edit",
                                    text: "Edit",
                                    click: function (e) {
                                        var item = this.dataItem($(e.currentTarget).closest("tr"));
                                        console.log("Editing item:", item); // Debug edit
                                        window.location.href = '@Url.Action("EditPosition", "Position")/' + item.id;
                                    }
                                }
                            ]
                        }
                    ]
                });
            
        });



    </script>
}